/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.pb10{padding-bottom: 10px;}
.pt10{padding-top: 10px;}

.padding{padding: 20px;}
.error{color:#f21a1a;}